<!DOCTYPE html>
<html>
<head>QUIZ</head>
<title>quiz</title>
<body>
	<h1>this is the quiz page</h1>
	{% if question_all %}
	<h3>the questions are</h3>
	

		{% for ques in question_all %}

		
		
		<ul>{{ ques.question_text }}<br></ul>

			
			<li>{{ ques.choice_set.get.choice1 }}</li>
			<li>{{ ques.choice_set.get.choice2 }}</li>
			<li>{{ ques.choice_set.get.choice3 }}</li>
			<li>{{ ques.choice_set.get.choice4 }}<li>
			
		

		{% endfor %}
	
	{% else %}
	<h4>NO QUESTION</h4>
	{% endif %}
</body>
</html>